<div class="question" id='<%= question.id %>'>
  <div class="question-header">
    <span class="question-class"><%= Course.find(question.course_id).title %></span> • <span class="question-date"> <%= time_ago_in_words(question.created_at) %></span>
  </div>
  <div class="question-title">
    <a href="/questions/<%= question.id %>" class="question-link"><span class="rendered-title"><%= question.title %></span></a>
  </div>
  <div class="question-body">
    <span class="rendered-body">
      <%= question.body %>
    </span>
  </div>
  <div class="question-misc sep-btm">
    <% if !question.answer_id %>
      <a href="#" class="question-btn show-answer-btn"><i class="icon ion-edit"></i><span class="answer-text">Answer</span></a>
      <%= render 'layouts/answer_form' %>
      <a href="" class="report-link">Report</a>
    <% else %>
      <div class="question-answers">
        <a href="/questions/<%= question.id %>" class="answers-link">
          <span class="rendered-answers">
            View Answer
          </span>
        </a>
      </div>
    <% end %>
  </div>
</div>
