<%= render 'layouts/nav' %>
<div class="ContentWrapper">
  <div class="col3-lg left">
    <h2><%= @question.title %></h2>
    <p><%= @question.body %></p>
      <div class="question-misc question-sep">
        <a href="" class="question-btn"><i class="icon ion-ios-undo-outline"></i><span class="answer-text">Request More Information</span></a>
        <a href="" class="report-link">Report</a>
      </div>
      <div class="answers">
        <% if @question.answer_id %>
          <div class="answer">
            
          </div>
        <% else %>
          <div class="unanswered">
            <span class="unanswered-title">This question hasn't been answered yet. </span>
            <div class="response">
              <h3>Can you answer this question?</h3>
              <a href="" class="question-btn"><i class="icon ion-edit"></i><span class="answer-text">Answer</span></a>
              <%= render 'layouts/answer_form' %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="col3-md left-lg">
    <div class="class-list">
      <h3>Similar Questions</h3>
      <ul class="render-list">
        <% @questions.each do |question| %>
        <li class="render-item"><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>