<footer class="footer">
  <small>
    A <a href="https://github.com/jakedex?tab=repositories">hackathon project</a>
    by <a href="http://www.jakedex.com/">Jake Dexheimer</a>
  </small>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li>Signed in as <%= current_user.email %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
      <% end %>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
